@tailwind base;
@tailwind components;
@tailwind utilities;





.heading-3d {
  font-size: 4rem;
  text-shadow: 
    1px 1px 0 #ccc, 
    2px 2px 0 #ccc,
    3px 3px 0 #ccc,
    4px 4px 0 #ccc,
    5px 5px 0 #ccc,
    6px 6px 0 #ccc,
    7px 7px 0 #ccc,
    8px 8px 0 #ccc,
    9px 9px 0 #ccc,
    10px 10px 0 #ccc;
  color: white;
}


* {
  box-sizing: border-box;
}


/*

.navbar{
  text-decoration: none;
  position: absolute;
  top:0;
  z-index: 100;
  width: 100%;
  justify-content: flex-end;
  font-size: large;
  padding-top: 10px;
  padding-bottom: 10px;
  text-decoration: none;
  overflow-x: hidden;
  box-sizing: border-box;

}

.navbar ul{
  display: flex;
  list-style: none ;
  padding-top:25px;
  justify-content: end;

}

.navbar a{
  text-decoration: none;
  font-weight: bolder;
  color: aliceblue;
  margin-right: 20px;
}

.navbar a:hover{
  color: black;
}


.navbar li{
  margin-right: 20px;
}

*/

  